.header-nav {
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.header-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  margin-right: 20px;
}

.header-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
