<nav class="header-nav">
  <div class="header-container">
    <div class="header-left">
      <a class="header-logo" routerLink="/">PlazaClic</a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>
        <li class="header-menu-item">
          <a class="header-link" routerLink="/products" routerLinkActive="active">Productos</a>
        </li>
        <li class="header-menu-item">
          <a class="header-link" routerLink="/favorites" routerLinkActive="active">
            <i class="fas fa-heart me-1"></i>Favoritos
          </a>
        </li>
      </ul>
    </div>
    <ul class="header-menu">
      <li class="header-menu-item">
        <a class="header-link" routerLink="/cart" routerLinkActive="active">
          Carrito ({{ cartItemCount$ | async }})
        </a>
      </li>
      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <li class="header-menu-item">
          <a class="header-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="header-menu-item">
          <a class="header-link" routerLink="/register" routerLinkActive="active">Registro</a>
        </li>
      </ng-container>
      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="header-menu-item">
          <a class="header-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
        <li class="header-menu-item">
          <a class="header-link" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
