<div class="container mt-5">
  <h2 class="fs-3 mb-2">
    <strong>
      Gestión de Inventario: {{ productName }}
    </strong>
  </h2>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <h4 class="fs-4 mb-4 mt-3">Registrar Nuevo Movimiento</h4>
      <form [formGroup]="movementForm" (ngSubmit)="recordMovement()">
        <div class="mb-3">
          <label for="type" class="form-label">Tipo de Movimiento</label>
          <select id="type" formControlName="type" class="form-select">
            <option value="entry">Entrada</option>
            <option value="exit">Salida</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Cantidad</label>
          <input type="number" id="quantity" formControlName="quantity" class="form-control">
        </div>
        <div class="mb-3">
          <label for="notes" class="form-label">Notas (Opcional)</label>
          <textarea id="notes" formControlName="notes" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="movementForm.invalid">Registrar Movimiento</button>
      </form>
    </div>

    <div class="col-md-6 mt-3 mb-2">
      <h4 class="fs-4">Historial de Movimientos</h4>
      <table class="table table-striped"  style="margin-bottom: 30px; margin-top: 10px;">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Notas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movement of movements$ | async">
            <td>
              <span class="badge" [ngClass]="{'bg-success': movement.type === 'entry', 'bg-danger': movement.type === 'exit'}">
                {{ movement.type === 'entry' ? 'Entrada' : 'Salida' }}
              </span>
            </td>
            <td>{{ movement.quantity }}</td>
            <td>{{ movement.date | date:'short' }}</td>
            <td>{{ movement.notes || '-' }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="(movements$ | async)?.length === 0" class="alert alert-info">
        No hay movimientos de inventario registrados para este producto.
      </div>
    </div>
  </div>
</div>
